*/old

# ncmpcpp
ncmpcpp/ncmpcpp/error.log

# Vim
vim/.vim/autoload
vim/.vim/plugged
vim/.vim/backup
vim/.vim/.netrwhist
vim/.vim/spell
vim/.vim/sessions

# ranger
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
ranger/.config/ranger/tagged
ranger/.config/ranger/scope.sh
